<div class="hero-unit">
<h4>Генераторы холодного тумана:</h4>
      <small>
        <p style="text-indent: 25px;">Холодный туман применим для обработки помещений, в котором находятся растения или животные, для обработки офисных или жилых помещений. 
Холодный туман выходит из распылительного агрегата с температурой, равной температуре окружающей среды. Он, при выходе, таким же образом рассевается и заполняет все помещение целиком, но так как его капли не подогреты и намного большего диаметра (от 50 до 100 микрон), он способен продержаться в воздухе не более 3-4 часов.</p>
        <p style="text-indent: 25px;">Нужно помнить, что при использовании генераторов холодного тумана, вода, добавленная в реагент, распространится по помещению вместе с ним, что может существенно увеличить влажность. Это может как положительно, так и отрицательно сказаться на окружающей обстановке.
Если повышение влажности во время проведения обработки холодных туманом приведет к нежелательным последствиям, перед началом работ в обязательном порядке нужно принять меры по уменьшению влажности в помещении, чтобы во время проведения обработки баланс отношения влаги в окружении восстановился.В качестве реагента могут использоваться растворы на масляной и водной основе.</p>
<table class="table table-bordered">
  <tr>
    <td>
<%=image_tag("1.png", alt: "1")%>
<p>TORNADO "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
    <td>
<%=image_tag("2.png", alt: "2")%>
<p>CYCLONE "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
  </tr>
  <tr>
    <td>
<%=image_tag("3.png", alt: "3")%>
<p>CYCLONE с гибким шлангом "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
    <td>
<%=image_tag("4.png", alt: "4")%>
<p>HURRICANE "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
  </tr>
</table>
<h4>Cпециальные:</h4>
        <p style="text-indent: 25px;">Используется для больших помешений. Такое оборудование является достаточно мощным, для того чтобы рабоать самостоятельно.</p>
        <p style="text-indent: 25px;">Дезинфектор его устанавливает на некоторое время в дезинфицирущем помещении, после чего он уходит для обработки других местах. Оборудование работаем с использовании пара, которые попадает даже в самые скрытые места и чистит их от вредителей и инфекций.</p>
<table class="table table-bordered">
  <tr>
    <td>
<%=image_tag("5.png", alt: "5")%>
<p>Night Star M "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
    <td>
<%=image_tag("6.png", alt: "6")%>
<p>Twister XL "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
  </tr>
</table>
<h4>Переносные термические распылители (автономный запуск):</h4>
        <p style="text-indent: 25px;">Благодаря силе выдачи пара равной 12 к/м2,переносное оборудование,используется дезинфектором,для обработки в особо тяжелых случаях и на больших площадях.</p>
<table class="table table-bordered">
  <tr>
    <td>
<%=image_tag("7.png", alt: "7")%>
<p>BLACKHAWK "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
    <td>
<%=image_tag("8.png", alt: "8")%>
<p>MISTER III "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
    <td>
<%=image_tag("9.png", alt: "9")%>
<p>Superhawk "Curtis Dyna-Fog Ltd." (США)</p>
    </td>
  </tr>
</table>
      </small>
</div>
