<header class="navbar-wrapper">
	<div class="container">
	<%=image_tag("head.png", :class=>"myhead") %>
		<div class="navbar navbar-default">
			<div class="navbar-inner">
				<nav>
					<ul class="nav pull-left">
						<li><%= link_to "Главная", root_path %></li>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Услуги <b class="caret"></b>
							</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Дезинфекция помещений", contact_path %></li>
							<li><%= link_to "Дезинфекция и чистка мусоропроводов", contact_path %></li>
							<li class="divider"></li>
						</ul>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Помощь <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "Вредители", damagers_path %></li>
								<li><%= link_to "Вопросы", contact_path %></li>
								<li class="divider"></li>
							</ul>
						<li><%= link_to "Контакты", contact_path %></li>
					</ul>
<%= link_to "Online Заявка", new_micropost_path , html_options = { class: "btn btn-success pull-right" } %>
				</nav>
			</div>
		</div>
	</div>
</header>
